body{
    margin: 0px;
    padding: 0px;
}

nav{
    display: flex;
    align-items: centre;
    justify-content: space-between;
    background-color: #A04BEC;
    padding: 10px 20px;
}

.logo{
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
}
.logo div{
    font-size: 24px;
    font-weight: 800;
}
.menu_item{
    display: flex;
    gap: 55px;
    align-items: center;
    margin-right: 12rem;;
}

.menu_item a{
    color: white;
    text-decoration: none;
}
.info{
display:flex;
font-size: 12px;
align-items: center;
color: white;
}
.callbutton{
    background-color: #FDAE5C;
    color: white;
    padding: 10px;
    border-radius: 7px;
}

/* banner */
.banner{
    height: 90vh;
    width: 100%;
    background-image: linear-gradient(#A04BEC,#4436CF);
}

.banner_info{
    width: 80%;
    height: 100%;
    margin: 0px auto;
    display: flex;
    gap: 10px;
}
.banner_info div{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: fit-content;
    
}
.learn_button{
    height: fit-content;
    width: fit-content;
    background-color: #04D2C8;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}